* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/****** stilizacija navigacije / header ********/
header {
    background-color: black;
    height: 40px;
    width: 100%;
}
a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
    
}
header ul {
    display: inline;
    position: absolute;
    padding-left: 60px;
    height: 20px;
    top: 10px;
}

#leva-navigacija li {
    list-style-type: none;
    display: inline;
}
#leva-navigacija a {
    color: #dbdbdb;
}
#leva-navigacija {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}
#privatni {
    font-weight: bold;
}
#o-nama {
    padding-left: 50px;
    color: #dbdbdb;
}
#desna-navigacija {
    left: 80vw;
    color: white;
}
#desna-navigacija a{
   color: #dbdbdb ;
}
#desna-navigacija li {
    list-style-type: none;
    display: inline;
}
#sr {
    font-weight: bold;
}

/************** Stilizacija navigacije ********************/

nav {
    display: grid;
    align-content: center;
    position: relative;
    height: 80px;
    font-size: 20px;
    padding-left: 15px;
}
nav ul a {
    color: black;  
}
#a1-nav {
    display: inline;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-content: center;
    top: 40px;
    left: 10vw;
    padding-left: 40px;
}
#a1-nav li {
    list-style-type: none;
    display: inline;
}
#a1 {
    padding-left: 60px;
    padding-top: 25px;
    max-width: 100%;
}

#u-a1 {
    position: absolute;
    bottom: 20px;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#u-a1-tekst {
    font-size: 15px;
    position: absolute;
    color: white;
}
#a1-nav-desno {
    display: inline;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    left: 85vw;
    top: 40px;
    
}
#a1-nav-desno li {
    list-style-type: none;
    display: inline;
}
#search {
    position: relative;
    left: 25px;
}

/************ SECTION 1 ***************/

#crveni-box {
    position: relative;
    background-color: #DA2A1C;
    width: 456px;
    height: 634px;
    left: 140px;
    top: 50px;
    max-width: 100%;
}

#oblak {
    position: absolute;
    top: 20%;
    left: 5%;
    max-width: 100%;
}

#oblak-tekst {
    position: absolute;
    top: 30%;
    left: 20%;
    max-width: 100%;
}

#crno-bubbles {
    position: absolute;
    top: 57%;
    left: 33%;
    max-width: 100%;
}

#section-1-desno {
    display: grid;
    position: absolute;
    justify-content: center;
    align-content: center;
    line-height: 66px;
    width: 40vw;
    bottom: 420px;
    left: 35%;
}
#neo-nav {
    display: inline;
}
#neo-nav li {
    list-style-type: none;
    display: inline;
}
#neo-nav a {
    color: rgb(128, 128, 128);
}

#neo-tarifa {
    color: grey;
}
#neo-sale {
    font-size: 64px;
}
#fiksirano {
    display: grid;
    position: fixed;
    z-index: 1;
    bottom: 20%;
    height: 400px;
    left: 95%;
}

/************** SECTION 2 ****************/
#izaberi-neo {
    position: relative;
    display: grid;
    grid-column: 1;
    justify-content: center;
}

#izaberi-neo-tekst {
    font-size: 40px;
}

#izaberi-neo-list {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    align-content: center;
    font-size: 20px;
}

#izaberi-neo-list li {
    list-style-type: none;
    display: inline;
}
#neo-list-sa {
    font-weight: bold;
    color: black;
}
#neo-list-bez {
    color: black;
}
#border-sec2 {
    display: flex;
    padding-top: 25px;
    justify-content: center;
}
#border-1 {
    width: 150px;
    height: 3px;
    background-color: #DA2A1C;
}
#border-2 {
    width: 150px;
    height: 3px;
    background-color: grey;
}

/******************** SECTION / NEO PONUDA *********************/

#neo-paketi {
height: 900px;
margin-top: 150px;
}
#neo-sa {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    height: 740px;
    width: 900px;
    top: 10%;
    left: calc(50% - 450px);
    gap: 15px;
}
#neo-bez {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    position: relative;
    height: 740px;
    width: 900px;
    top: 10%;
    left: calc(50% - 450px);
    gap: 15px;
    display: none;
}
#neo-15-sa {
    background-image: url(./img/Izaberi-neo/neo15-sa.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 291px;
    height: 720px;
}
#neo-5-sa {
    background-image: url(./img/Izaberi-neo/neo5-sa.png);
    width: 291px;
    height: 720px;
}
#neo-3-sa {
    background-image: url(./img/Izaberi-neo/neo3-sa.png);
    width: 291px;
    height: 720px;
}

#neo-15-bez {
    background-image: url(./img/Izaberi-neo/neo15-bez.png);
    width: 291px;
    height: 720px;
}
#neo-5-bez {
    background-image: url(./img/Izaberi-neo/neo5-bez.png);
    width: 291px;
    height: 720px;
}
#neo-3-bez {
    background-image: url(./img/Izaberi-neo/neo3-bez.png);
    width: 291px;
    height: 720px;
}
#free-net-icons-sa {
    position: relative;
    left: 10%;
    top: 45%;
}
#deezer-sa {
    position: relative;
    top: 56%;
    right: 58%;
}
#hopster-sa {
    position: relative;
    top: 56%;
    right: 58%;
}
#neo-5-button-sa {
    position: relative;
    top: 74%;
    left: 10%;
}
#neo-5-cena-sa {
    position: relative;
    top: 63%;
    left: 10%;
}
#free-net-icons-bez {
    position: relative;
    left: 10%;
    top: 45%;
}
#deezer-bez {
    position: relative;
    top: 56%;
    right: 58%;
}
#hopster-bez {
    position: relative;
    top: 56%;
    right: 58%;
}
#neo-5-button-bez {
    position: relative;
    top: 74%;
    left: 10%;
}
#neo-5-cena-bez {
    position: relative;
    top: 63%;
    left: 10%;
}

/************* Treca sekcija *********************/
#sta-ima {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 200px;
    justify-items: center;
    width: 90vw;
}
#prvi-tekst {
    color: #B7B4B7;
    font-size: 16px;
    margin-bottom: 20px;
}

#drugi-tekst {
    font-weight: bold;
    font-size: 40px;
}

#treci-tekst {
    font-weight: bold;
    margin-top: 20px;
}
#buttons {
    position: relative;
    top: 50%;
    padding: 20px 0px;
}
#strelica-levo {
    width: 40px;
    height: 40px;
    background-color: black;
}
#strelica-desno {
    width: 40px;
    height: 40px;
    background-color: black;
}

/****** Treca sekcija / desni deo ***********/
#tri-kartice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
    height: 432px;
    gap: 15px;
}
#red-card {
    width: 290px;
    height: 430px;
    background-image: url(./img/sta-ima/red-card.png);
}
#blue-card {
    width: 290px;
    height: 430px;
    background-image: url(./img/sta-ima/blue-card.png);
}
#black-card {
    width: 290px;
    height: 430px;
    background-image: url(./img/sta-ima/black-card.png);
    display: none;
}
/****************** Cetvrta sekcija *********************/

#zasto-online {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c b";
    width: 90vw;
    height: 720px;
    position: relative;
    margin: 120px auto 0 auto;
    gap: 30px;
}
#zasto-online1 {
    background-image: url(./img/online/gore-levo.jpg);
    display: grid;
    grid-area: a;
    background-size: cover;
    background-repeat:no-repeat ;
}
#tekstualno1 {
    position: relative;
    color: white;
    top: 60%;
    left: 10%;
    width: 30vw;
    line-height: 25px;
}
#osiguranje {
    background-image: url(./img/online/dole-levo.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-area: c;
}
#desna-slika {
    background-image: url(./img/online/desno.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-area: b;
}
#desna-slika-naslov {
    position: relative;
    font-size: 20px;
    width: 250px;
    color: black;
    top: 110%;
    left: 5%;
}
#desna-slika-tekst {
    position: relative;
    width: 350px;
    top: 70%;
    left: 5%;
}
/********* Slajder ******************/
.splide {
    width: 90vw;
    margin: 100px auto 0 auto;
}
#prva-slika {
    width: 100%;
}
#druga-slika {
    width: 100%;
}
#slajder1-tekst {
    position: absolute;
    top: 40%;
    right: 70%;
}
#slajder1-button {
    position: absolute;
    top: 80%;
    right: 80%;
}
#slajder2-tekst-mini {
    position: absolute;
    top: 25%;
    left: 10%;
}
#slajder2-tekst {
    position: absolute;
    top: 30%;
    left: 10%;
}
#slajder2-button {
    position: absolute;
    top: 80%;
    left: 10%;
}
.meni{
    display: none;
}
/**************** Footer ************************/
footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 570px;
    background-color: black;
    margin-top: 100px;
}
#footer-img {
    position: relative;
    top: 2px;
}
#footer-app {
    position: relative;
    bottom: 30px;
    right: 410px;
}
#footer-up {
    display: flex;
    position: relative;
    justify-content: center;
    padding-right: 100px;
    top: 80px;
}
#footer-nav li {
    display: inline;
    list-style-type: none;
}
#footer-nav li a {
    font-size: 18px;
    color: #D7D7D7;;
}
#footer-icons {
    position: relative;
    padding-left: 100px; 
}
#informacije {
    display: flex;
    position: relative;
    top: 140px;
    left: 245px;
    width: 100px;
}

@media screen and (max-width: 1200px) {
    .meni{
        display: block;
        color: white;
        font-size: 28px;
        margin-left: 10px;
        margin-top: 5px;
    }
    #fiksirano{
        display: none;
    }
    #leva-navigacija{
        display: none;
    }
    #desna-navigacija{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        width: 135px;
        padding-left: 0;
    }
    #neo-tarifa {
        position: relative;
        left: 120px;
    }
    #neo-sale {
        position: relative;
        width: 400px;
        font-size: 30px;
        left: 120px;
    }
    #neo-nav {
        position: relative;
        left: 120px;
    }
    .podrska{
        display: none;
    }
    #a1{
        padding: 0;
    }
    #a1-nav{
        display: none;
    }
    #a1-nav-desno{
        justify-items: end;
        width: 195px;
        left: 1px;
        top: 25px;
    }
    footer {
        display: none;
    }
    #section-1-desno {
        display: block;
        position: relative;
        line-height: 2.3;
        width: 355px;
        bottom: 0;
        left: 0;
        top: 55px;
    }
    #crveni-box {
        position: relative;
        background-color: #DA2A1C;
        width: 100%;
        height: 560px;
        display: block;
        top: 0;
        left: 0;
    }
    #oblak{
        width: 380px;
        left: 180px;
        transform: scale(0.9);
    }
    #oblak-tekst{
        top: 165px;
        left: 235px;
        transform: scale(0.9);
    }
    #crno-bubbles {
    position: relative;
    top: 315px;
    left: 286px;
    max-width: 50%;
    transform: scale(0.9);
    }
    #neo-sale {
        font-size: 29px;
    }
    #zaberi-neo-tekst {
        font-size: 29px;
    }
    #zaberi-neo-tekst {
        font-size: 29px;
    }
    #neo-sa {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        left: 0;
        width: 100%;
    }
    #neo-bez {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    #sta-ima {
        display: block;
        margin-top: 1600px;
        width: 100%;
    }
    #tri-kartice {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
        justify-items: center;
    }
    #buttons {
        position: relative;
        top: 50%;
        padding: 20px 0px;
        width: 20vw;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    #zasto-online {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "a a a"
        "c c c"
        "b b b";
        margin: 50px auto 0 auto;
    }
    #tekstualno1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 85%;
        top: 20%;
    }
    #desna-slika-naslov {
        position: relative;
        top: 12%;
    }
    #desna-slika-tekst {
        position: relative;
        font-size: 15px;
        top: 1px;
        width: 250px;
        left: 40%;
    }
    #slajder1-tekst {
        position: absolute;
        top: 10%;
        right: 40%;
    }
    #slajder1-button {
        position: absolute;
        top: 87%;
        right: 70%;
        width: 180px;
    }
    #slajder2-tekst {
        position: absolute;
        top: 30%;
        left: 10%;
        width: 272px;
    }
    #slajder2-button {
        position: absolute;
        top: 80%;
        left: 10%;
        width: 180px;
    }
    #slajder2-tekst-mini {
        position: absolute;
        top: 17%;
        left: 10%;
        width: 180px;
    }
    #aside{
        width: 100%;
    }
}


@media screen and (max-width: 600px) { 
    #section-1-desno {
        display: block;
        position: relative;
        line-height: 1.5;
        width: 100%;
        bottom: 0;
        left: 0;
        margin-top: 20px;
    }

    #crveni-box {
        position: relative;
        background-color: #DA2A1C;
        width: 100%;
        height: 530px;
        display: block;
        top: 0;
        left: 0;
    }
    #crno-bubbles {
        position: relative;
        top: 324px;
        left: 129px;
        max-width: 50%;
        transform: scale(1.1);
    }
    #neo-sale {
        left: 0;
        font-size: 30px;
    }
    #neo-nav{
        left: 0;
    }
    #neo-tarifa{
        left: 0;
    }
    #zaberi-neo-tekst {
        font-size: 29px;
    }
    #neo-sa {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        left: 0;
        width: 100%;
    }
    #neo-bez {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    #sta-ima {
        display: block;
        margin-top: 1600px;
        width: 100vw;
    }
    #tri-kartice {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
        justify-items: center;
    }
    #zasto-online {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "a a a"
        "c c c"
        "b b b";
        margin: 500px auto 0 auto;
    }
    #tekstualno1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 85%;
        top: 20%;
    }
    #desna-slika-naslov {
        position: relative;
        font-size: 13px;
        top: 12%;
    }
    #desna-slika-tekst {
        position: relative;
        font-size: 14px;
        top: 20%;
        width: 250px;
    }
    #slajder1-tekst {
        top: 15%;
        right: 30%;
        width: 40vw;
    }
    #fiksirano{
        display: none;
    }
    #leva-navigacija{
        display: none;
    }
    #desna-navigacija{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        width: 135px;
        left: 250px;
        padding-left: 0;
    }
    .podrska{
        display: none;
    }
    #a1{
        padding: 0;
    }
    #a1-nav{
        display: none;
    }
    #a1-nav-desno{
        justify-items: end;
        width: 195px;
        left: 197px;
        top: 25px;
    }
    #oblak{
        width: 380px;
        left: -10px;
        transform: scale(0.9);
    }
    #oblak-tekst{
        top: 165px;
        left: 45px;
        transform: scale(0.9);
    }
    #osiguranje{
        background-color: #f7f7f7;
        background-size: contain;
    }
    #desna-slika-naslov {
        font-size: 13px;
    }
    #desna-navigacija li a{
        padding: 0;
    }
    .meni{
        display: block;
        color: white;
        font-size: 28px;
        margin-left: 10px;
        margin-top: 5px;
    }
    #slajder1-button {
        position: absolute;
        top: 75%;
        right: 30%;
        width: 100px;
    }
    #slajder2-tekst {
        position: absolute;
        top: 26%;
        left: 10%;
        width: 150px;
    }
    #slajder2-button {
        position: absolute;
        top: 75%;
        left: 42%;
        width: 100px;
    }
    #slajder2-tekst-mini {
        position: absolute;
        top: 10%;
        left: 10%;
    }
    footer {
        display: none;
    }
}